@import "./../common/variables";
@import "./../common/fonts";

.menu {
    position: relative;
    margin: 5px 100px;
    padding: 0;
    box-sizing: border-box;
    &__image {

    }
}

ul.test {
    box-sizing: border-box;
    margin-bottom: 70px;
    position: relative;
    transform: skewY(-15deg);
    width: 4px;
    transition: 0.5s;
    li {
        position: relative;
        width: 200px;
        background-color: rgb(73, 73, 73);
        padding: 15px;
        margin: -1px;
        list-style: none;
        transition: 0.5s;
        a {
            text-decoration: none;
            color: #8a8a8a;
            display: block;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            transition: 0.5s;
        }
    }

    li:hover {
        transition: 0.5s;
        background-color: $color-blue;
        transform: translateX(-40px);
        z-index: 1;
        a {
            
            color: #fff;
        }
    }
   li:hover::before {
    transition: 0.5s;
    background-color: rgb(30, 198, 210);
   }
   transition: 0.5s;
   li:hover::after {
    background-color: rgb(24, 240, 255);
   }
    
    li::after {
        transition: 0.5s;
        left: 0px;
        top: -40px;
        width: 100%;
        height: 40px;
        content: '';
        position: absolute;
        background-color: rgb(89, 89, 89);
        transform-origin: bottom;
        transform: skewX(45deg);
        z-index: -1;
    }
    li::before {
        transition: 0.5s;
        top: 0;
        left: -40px;
        width: 40px;
        content: '';
        position: absolute;
        height: 100%;
        background-color: rgb(57, 57, 57);
        transform-origin: right;
        transform: skewY(45deg);
        z-index: 0;
    }
    
}
