@import "./../../common/variables";
@import "./../../common/fonts";
@import "./../../common/mixsins";


$btn-variant: (
    primary blueviolet white none,
    success palegreen black none,
    danger indianred white none,
    default white black none,
    primary-outline transparent blueviolet blueviolet 25px,
);

$btn-size: (
    xs 8px,
    sm 16px,
    md 24px,
    lg 32px,
);

@each $name, $bg-color, $font-color, $border in $btn-variant {
    .btn.btn-#{$name} {
        background-color: $bg-color;
        color: $font-color;
        @if ($border != none) {
        border: 8px solid $font-color;
        }
        @else {
            border: none;
        }

    }
}

@each $name, $size in $btn-size {
    .btn.btn-#{$name} {
        padding: 8px $size * 1.25;
        border-radius: $size + 2px;
    }
}

.btn {
    font-family: "Micro 5";
    font-size: 6rem;
    transition: 0.5s;
    animation: test 2s ease-in-out 0.5s infinite alternate none;
    box-shadow: 3px 3px 3px 1px rgba(80, 34, 56, 0.66);
    margin: 10px;
    cursor:pointer;
    &__label {
        cursor:pointer;
    }
}

.btn:hover {
    background-color: $color-plum;
    animation: test1 1.5s ease-in-out 0.1s infinite alternate none;
}
.btn:active {
    transition: 0.1s;
    color: $color-plum;
    background-color: $color-light-blue;
}

// @keyframes test {
//     0% {
//         transform: translateY(15px) translateX(-15px);
//     }
//     25% {
//         transform: translateY(-15px) translateX(-15px);
//     }
//     50% {
//         transform: translateY(-50px) translateX(-15px);
//     }
//     75% {
//         transform: translateY(15px) translateX(-15px);
//     }
//     100% {
//         transform: translateY(15px);
//     }
// }

@keyframes test1 {
    0% {
        transform: translateX(0) translateY(0) rotateZ(0);
    }
    25% {
        transform: translateX(3px) translateY(-3px) rotateZ(2deg);
    }
    50% {
         transform: translateX(-3px) translateY(3px) rotateZ(-2deg);
    }
    75% {
        transform: translateX(3px) translateY(-3px) rotateZ(-2deg);
    }
    100% {
        transform: translateX(-3px) translateY(-3px) rotateZ(2deg);
    }
}


@include desktop-large {
    .btn {
        font-size: 72px;
        &__label {
            letter-spacing: 8px;
        }
    }
}

@include desktop {
    .btn {
        font-size: 60px;
        letter-spacing: 6px;
    }
}

@include laptop {
    .btn {
        font-size: 42px;
        letter-spacing: 4px;
    }
}

@include tablet {
    .btn {
        font-size: 36px;
        letter-spacing: 4px;
    }
}

@include mobile {
    .btn {
        font-size: 32px;
        letter-spacing: 4px;
    }
}
