  @import "./../components/common/variables";
  @import "./../components/common/content-container";
  .main {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 85vh;
    padding: 2rem;
    width: 100%;
  }

  .main button {
    word-wrap: break-word;
    
  }

