@import "./../common/variables";
@import "./../common/fonts";
@import "./../common/mixsins";

.card-container {
    box-sizing: border-box;
    width: 100%;
    min-height: 55vh;
    display: flex;
    justify-content: space-evenly; 
    align-items: flex-start;    
    background-color: #bbdefb;
    height: 100%;
    padding: 15px;
    gap: 5px;
}