@import "./../common/variables";
@import "./../common/fonts";
@import "./../common/mixsins";

.card-container {
    box-sizing: border-box;
    background-color: transparent;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
    height: 100%;
    width: 100%;
    gap: 5px;
}