@import "./variables";
@import "./mixsins";

.content-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

@include desktop-large {
    .content-container {
        max-width: 65vw;
        // background-color: rgb(255, 0, 204);
    }
}

@include desktop {
    .content-container {
        max-width: 65vw;
        // background-color: red;
    }
}

@include laptop {
    .content-container {
        max-width: 70vw;
        // background-color: rgb(255, 230, 0);
    }
}

@include tablet { 
    .content-container {
        max-width: 100%;
        // background-color: rgb(0, 255, 0);
    }
}

@include mobile { 
    .content-container {
        max-width: 100%;
        // background-color: rgb(0, 21, 255);
    }
}