html,
body {
  margin: 0 auto;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  box-sizing: border-box;
  background-color: $color-skin;
  align-items: center;
  flex-direction: column;
}
h1 {
  text-align: center;
  margin: 0 auto;
  font-size: $text-xxl;
}
h2 {
  text-align: center;
  margin: 0 auto;
  font-size: $text-xl;
}
h3 {
  text-align: center;
  margin: 0 auto;
  font-size: $text-l;
}
h4 {
  text-align: justify;
  margin: 0 auto;
  font-size: $text-l;
}
h5 {
  text-align: justify;
  margin: 0 auto;
  font-size: $text-s;
}
h6 {
  text-align: justify;
  margin: 0 auto;
  font-size: $text-xs;
}
