$color-plum: #9d6381;
$color-black: #0d1f22;
$color-skin: #ffd7d1;
$color-light-blue: #c7e8f3;
$color-blue: #00e8fc; 

$breakpoint-xxl: 1200px;
$breakpoint-xl: 1024px;
$breakpoint-md: 767px;
$breakpoint-sm: 576px;